article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body {
  font-family: "Input Sans Narrow", "Andale Mono", "source-code-pro", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-weight: 300; }

h1, h2, h3, h4 {
  font-family: "Input Sans Narrow", "Andale Mono", "source-code-pro", "Lucida Console", Monaco, "Courier New", Courier, monospace;
  font-weight: 300;
  color: #06061d;
  font-size: 0.8125rem; }

h1 {
  margin-bottom: 50px; }

* {
  transition: all 0.2s ease-out; }

body {
  font-size: 100%;
  line-height: 140%;
  vertical-align: baseline;
  color: #73737c;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer;
  color: #73737c;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #73737c;
  transition: all 0.15s ease-out; }
  a:hover {
    color: #4433f1;
    border-color: transparent; }

.center {
  text-align: center; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #73737c;
  opacity: 0.2; }

.container {
  overflow: hidden;
  width: auto;
  margin: 100px 0 100px;
  padding: 0 80px; }
  .container p, .container ul {
    font-size: 0.8125rem;
    font-weight: 300; }
  .container .col-1 {
    float: left;
    width: 20%; }
  .container .col-2 {
    float: right;
    width: 80%; }

.content {
  overflow: hidden; }
  .content p {
    margin-bottom: 12.5px; }
  .content ul li:before {
    content: "-";
    display: inline-block;
    margin-right: 10px; }
  .content ul li:hover span {
    opacity: 0.3;
    transform: translateX(0); }
  .content ul li span {
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    transform: translateX(10px); }
  .content h2 {
    padding-right: 66.66667px;
    text-align: right; }

header[role="banner"] {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid transparent; }
  header[role="banner"] .container {
    position: relative;
    z-index: 10;
    margin-top: 200px;
    margin-bottom: 200px; }
  header[role="banner"] figure {
    overflow: hidden;
    padding-right: 66.66667px; }
    header[role="banner"] figure .logo {
      display: block;
      float: right;
      width: 44px;
      height: 32px;
      fill: #06061d; }
      header[role="banner"] figure .logo:hover {
        cursor: help;
        fill: #4433f1; }
  header[role="banner"] h1 {
    font-size: 0.8125rem;
    color: #06061d;
    line-height: 140%; }
    header[role="banner"] h1 span {
      display: block;
      opacity: 0.6; }
  header[role="banner"] p {
    width: 70%;
    font-size: 0.8125rem; }

footer[role="contentinfo"] {
  overflow: hidden; }

header[role="banner"] figure,
header[role="banner"] h1,
header[role="banner"] p,
section[role="main"],
footer[role="contentinfo"] {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.6s 0.5s 1 forwards ease-in-out; }

header[role="banner"] figure {
  animation-delay: 0.8s; }

header[role="banner"] h1 {
  animation-delay: 1s; }

header[role="banner"] p {
  animation-delay: 1.2s; }

section[role="main"] {
  animation-delay: 1.4s; }

footer[role="contentinfo"] {
  animation-delay: 1.6s; }

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@media screen and (max-width: 1200px) {
  .container {
    width: auto;
    padding: 0 50px; }

  header[role="banner"] p {
    width: 100%; } }
@media screen and (max-width: 900px) {
  .container {
    width: auto;
    padding: 0 50px; }

  header[role="banner"] figure,
  .content h2 {
    padding-right: 40px; } }
@media screen and (max-width: 600px) {
  header[role="banner"] figure,
  .content h2 {
    padding-right: 0; }

  .container {
    margin: 50px auto;
    padding: 0 25px; }
    .container .col-1,
    .container .col-2 {
      float: none;
      width: auto; }
    .container .col-1 h2 {
      margin-bottom: 20px;
      text-align: left; }

  .content ul li span {
    display: none; }

  header[role="banner"] h1 {
    margin-bottom: 20px; }
  header[role="banner"] .container {
    margin: 50px auto; }
  header[role="banner"] figure .logo {
    float: none;
    width: 33px;
    height: 24px;
    margin-bottom: 25px; } }
body.contrast {
  background: #4433f1;
  color: #fff; }
  body.contrast h1, body.contrast h2, body.contrast h3, body.contrast h4 {
    color: #fff; }
  body.contrast a {
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0.7) !important; }
    body.contrast a:hover {
      opacity: 0.5;
      border-color: transparent !important; }
  body.contrast hr {
    background: rgba(255, 255, 255, 0.4); }
  body.contrast header[role="banner"] .logo {
    fill: #fff; }
  body.contrast nav[role="navigation"] label span,
  body.contrast nav[role="navigation"] label span:before,
  body.contrast nav[role="navigation"] label span:after {
    background: #fff; }
