// =Contrast switch
// ----------------------------------------------

body.contrast
  background: $color-c-1
  color: #fff

  h1,h2,h3,h4
    color: #fff

  a
    color: #fff !important
    border-color: rgba(#fff, .7) !important

    &:hover
      opacity: .5
      border-color: transparent !important

  hr
    background: rgba(#fff, .4)

  header[role="banner"]

    .logo
      fill: #fff

  nav[role="navigation"]
    label
      span,
      span:before,
      span:after
        background: #fff
