// =Contrast switch
// ----------------------------------------------

body.contrast
  background: $secondary
  color: white

  h1,h2,h3,h4
    color: white

  a
    color: white
    border-color: rgba(white, .7) !important

    &:hover
      opacity: .5
      border-color: transparent !important

  hr
    background: rgba(white, .4)

  header[role="banner"]

    .logo
      fill: white

  nav[role="navigation"]
    label
      span,
      span:before,
      span:after
        background: white
