// =Layout
// ----------------------------------------------

.container
  overflow-y: hidden
  max-width: $sitewidth
  margin: $spacer-4 auto
  padding: 0 80px

  p, ul
    +font-size(16)
    font-weight: 400

  .col-1
    float: left
    width: 20%

  .col-2
    float: right
    width: 80%

.content
  overflow: hidden

  p
    margin-bottom: $spacer-16 / 2

  ul
    li

      &:hover
        span
          opacity: .3
          transform: translateX(0)

      span
        display: inline-block
        margin-left: 10px
        opacity: 0
        transform: translateX(10px)

header[role="banner"]
  position: relative
  overflow: hidden
  border-bottom: 1px solid transparent

  .container
    position: relative
    z-index: 10
    margin:
      top: $spacer-3
      bottom: $spacer-4

  figure
    overflow: hidden
    padding-right: $spacer-6

    .logo
      display: block
      float: left
      width: 44px
      height: 32px
      margin-top: 9px
      fill: $secondary

      &:hover
        cursor: help
        fill: red

  h1
    color: $secondary
    line-height: 160%

    span
      display: block
      font-weight: 400

  p
    +font-size(16)

.project-tiles
  overflow: hidden
  margin-top: $spacer-6

  li
    float: left
    width: 30%
    position: relative

    &:nth-child(1),
    &:nth-child(2)
      margin-right: 5%

    span
      display: none

    img
      display: block
      width: 100%

.project-sides
  overflow: hidden

  li
    float: left
    width: 33.33%

footer[role="contentinfo"]
  overflow: hidden

  .container
    margin: $spacer-6 auto

  p
    +font-size(13)
    opacity: .5
