// =Layout
// ----------------------------------------------

.container
  overflow: hidden
  width: auto
  margin: $spacer-4 0 $spacer-4
  padding: 0 80px

  p, ul
    +font-size(13)
    font-weight: 300

  .col-1
    float: left
    width: 20%

  .col-2
    float: right
    width: 80%

.content
  overflow: hidden

  p
    margin-bottom: $spacer-16 / 2

  ul
    li
      &:before
        content: "-"
        display: inline-block
        margin-right: 10px

      &:hover
        span
          opacity: .3
          transform: translateX(0)

      span
        display: inline-block
        margin-left: 10px
        opacity: 0
        transform: translateX(10px)

  h2
    padding-right: $spacer-6
    text-align: right

header[role="banner"]
  position: relative
  overflow: hidden
  border-bottom: 1px solid transparent

  .container
    position: relative
    z-index: 10
    margin:
      top: $spacer-2
      bottom: $spacer-2

  figure
    overflow: hidden
    padding-right: $spacer-6

    .logo
      display: block
      float: right
      width: 44px
      height: 32px
      fill: $text

      &:hover
        cursor: help
        fill: $color-c-1

  h1
    +font-size(13)
    color: $text
    line-height: 140%

    span
      display: block
      opacity: .6

  p
    width: 70%
    +font-size(13)

footer[role="contentinfo"]
  overflow: hidden
