// =Typography
// ----------------------------------------------

=sans-serif
  font:
    family: -apple-system, BlinkMacSystemFont, "acumin-pro", Helvetica Neue, Helvetica, Arial, sans-serif
    weight: normal

body
  +sans-serif

h1,h2,h3,h4
  +sans-serif
  color: $text
  font-weight: bold
  +font-size(16)

h1
  margin-bottom: $spacer-8
