// =Variables
// ----------------------------------------------

// =Dimensions
// --------------------------

$spacer:        400px

$spacer-2:      $spacer / 2
$spacer-3:      $spacer / 3
$spacer-4:      $spacer / 4
$spacer-6:      $spacer / 6
$spacer-8:      $spacer / 8
$spacer-16:     $spacer / 16

// =Colors
// --------------------------

$primary:       midnightblue
$secondary:     #efeef5

$color-1:       adjust-color(blue, $saturation: -20, $lightness: 20)
$color-2:       adjust-color(yellow, $saturation: -20, $lightness: -20)

$color-c-1:     #4433f1
$color-c-2:     red

$text:          darken($primary, 20%)
$text-light:    adjust-color($primary, $saturation: -60, $lightness: 20)
$text-lighter:  adjust-color($primary, $saturation: -54, $lightness: 50)
