!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    %meta{:content => "I create interfaces, shape brands and craft things for the web. In other words I research what makes people tick, create, break and fix things, try to give design purpose and wrangle with code.", :property => "og:description"}/
    %meta{:content => "http://michieldegraaf.com/static/images/michieldegraaf-social-img-1.jpg", :property => "og:image"}/
    %meta{:content => "Michiel de Graaf", :property => "og:site_name"}/
    %meta{:content => "Michiel de Graaf - Digital product designer", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://michieldegraaf.com", :property => "og:url"}/

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "http://michieldegraaf.com", :name => "twitter:url"}/
    %meta{:content => "Michiel de Graaf - Digital product designer", :name => "twitter:title"}/
    %meta{:content => "I create interfaces, shape brands and craft things for the web. In other words I research what makes people tick, create, break and fix things, try to give design purpose and wrangle with code.", :name => "twitter:description"}/
    %meta{:content => "http://michieldegraaf.com/img/michieldegraaf-social-img-1.jpg", :name => "twitter:image"}/
    %meta{:content => "@michieldegraaf", :name => "twitter:site"}/

    %link{:href => "/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/

    %script{:src => "https://use.typekit.net/uat0euf.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %title Michiel de Graaf - Digital product designer

  %body
    %audio.click
      %source{:src => "/img/thisisnotanimagelol.wav"}
    %header{:role => "banner"}
      .container
        %figure
          %svg.logo{:height => "32px", :viewbox => "0 0 44 32", :width => "44px", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M0,32 L44,32 L44,0 L0,0 L0,32 Z M16.4142,23 L37.4142,2 L41.5858,2 L18.5,25.0858 L16.4142,23 Z M12.9142,19.5 L30.4142,2 L34.5858,2 L15,21.5858 L12.9142,19.5 Z M23.4142,2 L27.5858,2 L25.5,4.0858 L23.4142,2 Z M16.4142,2 L20.5858,2 L24.0858,5.5 L22,7.5858 L16.4142,2 Z M2,9.41425 L9.41425,2 L13.58575,2 L2,13.5858 L2,9.41425 Z M2,2 L6.5858,2 L2,6.5858 L2,2 Z M2,16.4142 L15,3.4142 L17.0858,5.5 L2,20.5858 L2,16.4142 Z M26.91425,19.5 L42,4.4142 L42,8.5858 L29,21.5858 L26.91425,19.5 Z M2,23.41425 L18.5,6.9142 L20.5858,9 L2,27.58575 L2,23.41425 Z M42,11.4142 L42,15.5858 L29,28.5858 L23.4142,23 L25.5,20.9142 L29,24.4142 L42,11.4142 Z M42,18.41425 L42,22.58575 L34.5858,30 L30.4142,30 L42,18.41425 Z M11.5,20.9142 L20.5858,30 L16.4142,30 L11.5,25.0858 L6.5858,30 L2.4142,30 L11.5,20.9142 Z M19.9142,26.5 L22,24.4142 L27.5858,30 L23.4142,30 L19.9142,26.5 Z M42,25.4142 L42,30 L37.4142,30 L42,25.4142 Z M11.5,27.91425 L13.58575,30 L9.41425,30 L11.5,27.91425 Z"}
        %h1
          Michiel de Graaf &mdash;
          %span Digital product designer
        %p I create interfaces, shape brands and build digital products.
        %p
          In other words I research what makes people tick, create, break and fix things, give design purpose and wrangle with code. Making brewing beer easy at
          = succeed "." do
            %a{:href => "http://www.brewbot.io", :target => "_blank"} Brewbot
    %section#work{:role => "main"}
      .container.content
        %h2 Work
        %p
          Check out some my older work on my
          = succeed "." do
            %a{:href => "http://michieldegraaf.com/old"} portfolio
        %ul
          %li
            %a{:href => "http://producthunt.com", :target => "_blank"} Product Hunt
            %span - Interface & UX design
          %li
            %a{:href => "http://airbnb.com", :target => "_blank"} Airbnb
            %span - Interface & UX design
          %li
            %a{:href => "https://www.youtube.com/watch?v=JzyibMjn7YE", :target => "_blank"} Killzone: Shadow Fall
            %span - Game interface design
          %li
            %a{:href => "http://yourkarma.com", :target => "_blank"} Karma
            %span - Lead Designer
          %li
            %a{:href => "http://madeawkward.com", :target => "_blank"} Awkward
            %span - Product designer
          %li
            %a{:href => "http://beamreddit.com", :target => "_blank"} Beam for reddit
            %span - Always improving
          %li
            %a{:href => "http://hashtag.pr/", :target => "_blank"} Hashtag.pr
            %span - Design, Branding & Front-end
          %li
            %a{:href => "http://birdback.com/", :target => "_blank"} Birdback
            %span - Branding & Identity
          %li
            %a{:href => "http://tijd.co", :target => "_blank"} Tijd
            %span - In development
          %li
            %a{:href => "http://michieldegraaf.com/tone", :target => "_blank"} Tone
            %span - Branding, Interface & UX design
          %li
            %a{:href => "http://michieldegraaf.com/madeinamsterdam", :target => "_blank"} Made in Amsterdam
            %span - Branding & Identity
          %li
            %a{:href => "http://michieldegraaf.com/soocial", :target => "_blank"} Soocial
            %span - Design & Front-end
          %li
            %a{:href => "http://madebysofa.com", :target => "_blank"} Sofa
            ,
            = succeed "," do
              %a{:href => "http://kpn.nl", :target => "_blank"} KPN
            %a{:href => "http://deltalloyd.nl/", :target => "_blank"} Delta Lloyd
      %hr#social/
      .container.content
        %h2 Elsewhere
        %ul
          %li
            %a{:href => "mailto:mail@michieldegraaf.com"} Email
          %li
            %a{:href => "http://twitter.com/michieldegraaf", :target => "_blank"} Twitter
          %li
            %a{:href => "http://dribbble.com/michieldegraaf", :target => "_blank"} Dribbble
          %li
            %a{:href => "http://github.com/michieldegraaf", :target => "_blank"} Github
          %li
            %a{:href => "http://michieldegraaf.com/blog", :target => "_blank"} Blog
          %li
            %a{:href => "http://instagram.com/michieldegraaf", :target => "_blank"} Instagram
          %li
            %a{:href => "http://www.michieldegraaf.com/resume.pdf", :target => "_blank"} Resume
      %hr#things/
      .container.content
        %h2
          Things
          %span 16
        %ul
          %li
            %a{:href => "http://michiel.link", :target => "_blank"} t_c01c7_o-@n37
          %li
            %a{:href => "http://seagull.pizza", :target => "_blank"} Seagull Pizza
          %li
            %a{:href => "http://flyingcoffeecup.com", :target => "_blank"} Flyingcoffeecup
          %li
            %a{:href => "http://svbliminal.com", :target => "_blank"} Svbliminal
          %li
            %a{:href => "http://tangerinelove.com", :target => "_blank"} Tangerine Love
          %li
            %a{:href => "http://fuckallthethings.com", :target => "_blank"} Fuck all the things
          %li
            %a{:href => "http://dropshadow.co", :target => "_blank"} Drop Shadow
          %li
            %a{:href => "http://laptopradiator.com", :target => "_blank"} Laptop Radiator
          %li
            %a{:href => "http://scruffymoustache.com", :target => "_blank"} Scruffy Moustache
          %li
            %a{:href => "http://frietbek.com", :target => "_blank"} Frietbek
          %li
            %a{:href => "http://sabretoothedportillo.com/", :target => "_blank"} Sabre Toothed Portillo
          %li
            %a{:href => "http://fourdetrance.com/", :target => "_blank"} Four de Trance
          %li
            %a{:href => "http://brewbot.sexy", :target => "_blank"} Brewbot.sexy
          %li
            Mario.plumbing
            %span - In the tube
          %li
            Keep Shit Weird
            %span - Queued
          %li
            Fragment
            %span - T.B.A.
          %li
            Depth Dwellers
            %span - Zooop!
      %hr/

    %nav{:role => "navigation"}
      %dropdown
        %input#toggle2{:type => "checkbox"}/
        %label{:for => "toggle2"}
          Menu
          %span
        %ul
          %li
            %a.work{:href => "#work"} Work
          %li
            %a.social{:href => "#social"} Social
          %li
            %a.things{:href => "#things"} Things
          %li
            %a.resume{:href => "http://www.michieldegraaf.com/resume.pdf"} Resume
          %li
            %a.contact{:href => "mailto:mail@michieldegraaf.com"} Email

    %footer{:role => "contentinfo"}
      .container
        %p
          \© 2016 Michiel de Graaf —
          %a{:href => "http://github.com/michieldegraaf/michieldegraaf", :target => "_blank"} Source

    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/main.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9622756-4']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
