// =Base
// ----------------------------------------------

*
  +transition(all, .2s)

body
  font-size: 100%
  line-height: 180%
  vertical-align: baseline
  color: $secondary
  background: $primary
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

a
  cursor: pointer
  color: $secondary
  white-space: nowrap
  text-decoration: none
  +transition(all, .15s)

  &:hover
    border-color: transparent

  &.link-one,
  &.link-two
    display: inline-block

  &.link-one
    color: $highlight

  &.link-two
    color: $accent

.center
  text-align: center
