// =Base
// ----------------------------------------------

*
  +transition(all, .2s)

body
  font-size: 100%
  line-height: 180%
  vertical-align: baseline
  color: $secondary
  background: $primary
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

a
  cursor: pointer
  color: $primary
  white-space: nowrap
  text-decoration: none
  +transition(all, .15s)

  &:hover
    border-color: transparent

  &.link-one,
  &.link-two
    display: inline-block

    span
      display: inline-block
      width: 18px
      height: 26px
      padding-left: 8px
      text-indent: -9999px

    &:hover
      transform: translateX(4px)

      span
        transform: translateX(2px)

      i
        transform: translateX(4px)

  &.link-one
    color: $highlight

    span
      mask: url(../images/icon-arrow.svg) no-repeat center center
      background-color: $highlight

    i
      display: inline-block
      font-style: normal
      opacity: .3

    &:hover
      color: rgba($highlight, .5)

      span
        opacity: .5

      i
        opacity: 1
        color: $secondary

  &.link-two
    color: $accent

    span
      mask: url(../images/icon-heart.svg) no-repeat center center
      background-color: $accent

    &:hover
      color: $contrast

      span
        background-color: $contrast

.center
  text-align: center
