// =Base
// ----------------------------------------------

*
  +transition(all, .2s)

body
  font-size: 100%
  vertical-align: baseline
  color: $primary
  background: $secondary
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

a
  cursor: pointer
  color: $primary
  white-space: nowrap
  text-decoration: none
  +transition(all, .15s)

  &:hover
    border-color: transparent

  &.link-one,
  &.link-two
    display: inline-block

    span
      display: inline-block
      width: 18px
      height: 26px
      padding-left: 8px
      text-indent: -9999px

    &:hover
      transform: translateX(4px)

      span
        transform: translateX(2px)

      i
        transform: translateX(4px)

  &.link-one
    color: $highlight

    span
      mask: url(../images/icon-eye.svg) no-repeat center center
      background-color: $highlight

  &.link-two
    color: $accent

    span
      mask: url(../images/icon-heart.svg) no-repeat center center
      background-color: $accent

  &:hover
    color: $contrast

    span
      background-color: $contrast

.center
  text-align: center
