// =Contrast switch
// ----------------------------------------------

body.contrast
  background: $primary
  color: $secondary
  cursor: url(../images/icon-arrow-black.svg), auto

  a
    color: $secondary
    cursor: url(../images/icon-link-black.svg), auto

    &:hover
      color: $contrast

    &.link
      color: $accent
      cursor: url(../images/icon-email-black.svg), auto

      &:hover
        color: $contrast
