// =Layout
// ----------------------------------------------

.container
  overflow-y: hidden
  max-width: $sitewidth
  margin: 0 auto

  p, ul
    +font-size(34)
    font-weight: 400
    line-height: 120%

  p
    margin-bottom: 24px

header[role="banner"]
  position: relative
  overflow: hidden
  color: $primary
  background: $secondary

.title
  position: relative
  overflow: hidden
  background: -webkit-linear-gradient($primary, #ccc) !important
  -webkit-background-clip: text !important
  -webkit-text-fill-color: transparent !important

  h1
    float: left
    margin-top: 120px
    color: $primary
    line-height: 120%

  .logo
    display: block
    float: right
    margin-top: 128px
    width: 86px
    height: 58px
    mask: url(../images/logo.svg) no-repeat center center
    background-color: $primary

    &:hover
      cursor: progress

.intro
  margin:
    top: 120px

  p
    +font-size(80)
    font-weight: 600

nav[role="navigation"]

  ul
    overflow: hidden

    li
      display: block
      float: left
      margin-right: 40px

      &:nth-child(3)
        margin: 0 !important

      a
        color: $grey
        opacity: .6

        &:hover
          opacity: 1

      &.nav-scroll
        float: right
        margin: 0

        a
          display: inline-block
          width: 32px
          height: 32px
          mask: url(../images/icon-arrow.svg) no-repeat center center
          background-color: $grey
          text-indent: -9999px

#work,
#info
  h2
    margin-top: 120px
    +font-size(17)

  p
    max-width: 640px
    margin-top: 40px
    color: $grey

  .case-gallery
    margin-top: 48px
    height: 500px
    background: #eee
