// =Layout
// ----------------------------------------------

.container
  max-width: 100%
  margin: 0 120px

header[role="banner"]
  position: relative
  margin-top: 120px

  h1, p
    margin-top: 32px
    +font-size

    span
      display: block

  .logo
    position: fixed
    display: block
    width: 172px
    height: 116px
    top: 120px
    right: 120px
    mask: url(../images/logo-172x116.svg) no-repeat center center
    background: $contrast linear-gradient(to right, $contrast 1%, $accent 50%, $accent 51%, $contrast 99%)
    background-size: 400% auto
    animation: spin 40s linear infinite

    &:hover
      cursor: progress
      background-color: $accent

.content
  margin: 80px 0 120px 0

  p,ul
    margin: 40px 0
    +font-size

.links
  li
    a:hover
      color: $primary !important
    &:nth-child(1)
      a
        color: rgba($primary, .6)
    &:nth-child(2)
      a
        color: rgba($primary, .4)
    &:nth-child(3)
      a
        color: rgba($primary, .2)

.about
  .content
    max-width: 800px
    line-height: 1.6
    letter-spacing: .05em

    p, ul
      font-size: 24px
      font-weight: 400

  a
    border-bottom: 2px solid $primary
    transition: border .2s

    &:hover
      border-color: transparent

.list-main
  li
    display: block
    position: relative

.tooltip
  display: none
  position: absolute
  width: 400px
  height: 300px
  box-shadow: 0 10px 30px rgba(0,0,0,.2)

  img
    display: block
    width: 100%
