// =Layout
// ----------------------------------------------

.container
  max-width: $sitewidth
  margin: 0 120px

header[role="banner"]
  position: relative
  margin-top: 120px

  h1, p
    margin-top: 80px
    +font-size

    span
      display: block

  .logo
    position: fixed
    display: block
    width: 172px
    height: 116px
    top: 136px
    right: 136px
    mask: url(../images/logo-172x116.svg) no-repeat center center
    background: $contrast linear-gradient(to right, $contrast 1%, $accent 50%, $accent 51%, $contrast 99%)
    background-size: 200% auto
    animation: spin 40s linear infinite

    &:hover
      cursor: progress
      background-color: $accent

.content
  background: $primary linear-gradient($primary, #dfdfdf)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

  p,ul
    margin: 120px 0
    +font-size

    a
      transition: 0 none !important

      &:hover
        background: $contrast linear-gradient(to right, $contrast 1%, $accent 50%, $accent 51%, $contrast 99%)
        background-size: 200% auto
        animation: spin 40s linear infinite
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
