// =Responsive
// ----------------------------------------------

@media screen and (max-width: ($sitewidth + 160px))
  .logo
    position: relative
    width: auto

    span
      position: fixed
      right: 80px
      float: none

@media screen and (max-width: 800px)
  .logo
    padding-bottom: 80px

    span
      position: relative
      right: 0

  .cases
    margin-top: 80px

    .case
      width: 80%
      margin: 0 !important

      figure
        width: 100%
        margin: 0 !important

      a
        margin: 40px 0 80px 0

@media screen and (max-width: 640px)
  .cases
    .case
      width: 100%

@media screen and (max-width: 500px)
  h1,h2,h3,h4,
  p, ul,
  .cases .case a
    font-size: 18px

  .container
    padding: 0 40px

  .logo
    top: 40px
    padding-bottom: 40px

    span
      width: 86px
      height: 58px
      mask: url(../images/logo-86x58.svg) no-repeat center center

  header[role="banner"]
    margin-top: 40px

    p
      margin-top: 32px

  .cases
    margin-top: 40px
