// =Responsive
// ----------------------------------------------

@media screen and (max-width: 1060px)
  .container
    width: auto
    padding: 0 50px

  header[role="banner"] figure,
  .content h2
    padding-right: 40px

@media screen and (max-width: 800px)

@media screen and (max-width: 600px)
