// =Typography
// ----------------------------------------------

=sans-serif
  font:
    family: "acumin-pro", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif
    weight: normal

body
  +sans-serif

h1,h2,h3,h4
  +sans-serif
  font-weight: 600

h1
  +font-size(80)
