// =Variables
// ----------------------------------------------

// =Dimensions
// --------------------------

$sitewidth:     1200px

// =Colors
// --------------------------

$primary:       #111112
$secondary:     #ffffff

$grey:          #858089

$highlight:     #b17fff
$accent:        #b8e986
$contrast:      #ff5368
