// =Variables
// ----------------------------------------------

// =Dimensions
// --------------------------

$sitewidth:     100%

// =Colors
// --------------------------

$primary:       #000
$secondary:     #fff

$grey:          #858089

$accent:        #aa73ff
$contrast:      #7724f8
