// =Animations
// ----------------------------------------------

// Keyframes - BG color fade
// --------------------------

@-webkit-keyframes bgcolorfade
  0%
    color: SkyBlue
  33%
    color: MediumSlateBlue
  66%
    color: #f3a578
  100%
    color: SkyBlue

@-moz-keyframes bgcolorfade
  0%
    color: SkyBlue
  33%
    color: MediumSlateBlue
  66%
    color: #f3a578
  100%
    color: SkyBlue

@keyframes bgcolorfade
  0%
    color: SkyBlue
  33%
    color: MediumSlateBlue
  66%
    color: #f3a578
  100%
    color: SkyBlue
