/* =Base
 *************************************/

body
  font:
    family: Helvetica Neue, Helvetica, Arial, sans-serif
    size: 100%
  line-height: 160%
  vertical-align: baseline
  color: $black
  background: white
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

a
  cursor: pointer
  color: $black
  text-decoration: underline
  white-space: nowrap
  text-decoration: none
  +transition(all, .25s)

.center
  text-align: center

hr
  margin: 100px
  height: 1px
  background: rgba(0,0,0,.1)
