/* =Typography
 *************************************/

@font-face
  font:
    family: 'NationalFF'
    weight: 300
  src: url('/static/fonts/National-Light.otf') format('opentype')

=sans-serif
  font:
    family: 'Calibre', 'Helvetica Neue', Helvetica, Arial, sans-serif

h1,h2,h3,h4
  font-weight: 200
  margin-bottom: $margin-low
