/* =Variables
 *************************************/

/* =Dimensions
 *****************/

$sitewidth: 600px

$margin-high: 100px
$margin-mid: 50px
$margin-low: 25px

/* =Colors
 *****************/

$black:     #0d0a11
$dark:      #404752
$primary:    SkyBlue
