/* =Variables
 *************************************/

/* =Dimensions
 *****************/

$sitewidth: 1020px

/* =Colors
 *****************/

$black:     #0d0a11
$dark:      #404752
$primary:    SkyBlue
