article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

h1, h2, h3, h4 {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 300; }

h1 {
  margin-bottom: 42.5px; }

h2, h3, h4 {
  margin-bottom: 21.25px;
  color: #06061d;
  font-size: 1.6875rem; }

body {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 160%;
  vertical-align: baseline;
  color: #73737c;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer;
  color: #73737c;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #73737c;
  transition: all 0.15s ease-out; }
  a:hover {
    border-color: transparent; }

.center {
  text-align: center; }

hr {
  display: block;
  width: 20%;
  height: 1px;
  background: #73737c;
  opacity: 0.2; }

.container {
  width: 50%;
  margin: 85px 0 85px 20%; }
  .container p, .container ul {
    font-size: 0.9375rem;
    font-weight: 300; }

.content p, .content ul {
  margin-top: 10.625px; }
.content ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 10px; }
.content h2 span {
  display: inline-block;
  margin-left: 5px;
  padding: 0px 5px 1px 4px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.05em;
  vertical-align: top;
  border: 2px solid #06061d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: opacity 0.25s ease-out;
  cursor: help;
  opacity: 0.25; }

header[role="banner"] {
  position: relative;
  overflow: hidden;
  background: #f2f2eb;
  transition: all 0.5s ease-out;
  -webkit-animation: bgcolorfade 120s infinite forwards linear;
  -moz-animation: bgcolorfade 120s infinite forwards linear;
  animation: bgcolorfade 120s infinite forwards linear; }
  header[role="banner"] h1, header[role="banner"] p, header[role="banner"]:after, header[role="banner"] .logo {
    transition: all 0.45s ease-out; }
  header[role="banner"]:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/michieldegraaf-head.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0; }
  header[role="banner"].fart:after {
    opacity: 1; }
  header[role="banner"].fart figure .logo {
    fill: #06061d;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none; }
  header[role="banner"].fart h1, header[role="banner"].fart p, header[role="banner"].fart p a {
    color: transparent;
    border-color: transparent; }
  header[role="banner"] .container {
    position: relative;
    z-index: 10;
    margin-top: 170px;
    margin-bottom: 170px; }
  header[role="banner"] figure {
    overflow: hidden;
    margin-bottom: 42.5px; }
    header[role="banner"] figure .logo {
      display: block;
      float: left;
      width: 56px;
      height: 52px;
      fill: #df284d;
      background: rgba(255, 255, 255, 0.6);
      -webkit-animation: fillfade 50s infinite linear;
      -moz-animation: fillfade 50s infinite linear;
      animation: fillfade 50s infinite linear; }
      header[role="banner"] figure .logo:hover {
        cursor: help; }
  header[role="banner"] h1 {
    color: #06061d;
    font-size: 2.5rem;
    line-height: 110%; }
    header[role="banner"] h1 span {
      display: block;
      opacity: 0.5; }
  header[role="banner"] p {
    font-size: 1.0625rem;
    font-weight: 200;
    color: #73737c; }
    header[role="banner"] p a {
      color: #73737c; }

footer[role="contentinfo"] p {
  font-size: smaller; }

footer[role="contentinfo"],
.content ul li span,
small {
  opacity: 0.5;
  transition: opacity 0.25s ease-out; }
  footer[role="contentinfo"]:hover,
  .content ul li span:hover,
  small:hover {
    opacity: 0.75; }

header[role="banner"] figure,
header[role="banner"] h1,
header[role="banner"] p,
section[role="main"] {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  -moz-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  animation: fadein 0.6s 0.5s 1 forwards ease-in-out; }

header[role="banner"] figure {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

header[role="banner"] h1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

header[role="banner"] p {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

section[role="main"] {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s; }

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fillfade {
  0% {
    fill: #df284d; }

  25% {
    fill: #eb1c34; }

  50% {
    fill: #d3343a; }

  75% {
    fill: #eb1c34; }

  100% {
    fill: #df284d; } }

@-moz-keyframes fillfade {
  0% {
    fill: #df284d; }

  25% {
    fill: #eb1c34; }

  50% {
    fill: #d3343a; }

  75% {
    fill: #eb1c34; }

  100% {
    fill: #df284d; } }

@keyframes fillfade {
  0% {
    fill: #df284d; }

  25% {
    fill: #eb1c34; }

  50% {
    fill: #d3343a; }

  75% {
    fill: #eb1c34; }

  100% {
    fill: #df284d; } }

@media screen and (max-width: 1000px) {
  .container {
    width: 70%;
    margin-left: 15%; } }
@media screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 42.5px auto;
    padding: 0 25px; }

  header[role="banner"] .container {
    margin: 85px auto; } }
