/* =Variables
 ************************************ */
/* =Dimensions
 **************** */
/* =Colors
 **************** */
/* =Mixins
 ************************************ */
/* =@2x converter
 **************** */
/* =Transition
 **************** */
/* =Border radius
 **************** */
/* =Font-size
 **************** */
/* =Animations
 **************** */
/* =Reset
 ************************************ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* =Typography
 ************************************ */
@font-face {
  font-family: "NationalFF";
  font-weight: 300;
  src: url("/static/fonts/National-Light.otf") format("opentype"); }

h1, h2, h3, h4 {
  font-weight: 200;
  margin-bottom: 25px; }

/* =Base
 ************************************ */
body {
  font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 160%;
  vertical-align: baseline;
  color: #0d0a11;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer;
  color: #0d0a11;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #0d0a11;
  transition: all 0.2s ease-out; }
  a:hover {
    border-color: transparent; }

.center {
  text-align: center; }

hr {
  margin: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1); }

/* =Layout
 ************************************ */
/* =Containers
 **************** */
.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 0 20px; }
  .container p, .container ul {
    font-size: 0.875em; }

section[role="main"] ul li:before {
  content: "-";
  display: inline-block;
  margin: 0 10px; }
