{% extends "base.html" %}
{% block title %}Michiel de Graaf is a Designer and Art Director{% endblock %}
{% block content %}

<header role="banner">
  <div class="container">
    <figure>
      <img src="{% static '/images/logo3.svg' %}">
    </figure>
    <h1>Michiel de Graaf &mdash; <span>Design &amp; Art Direction</h1>
    <p>I create interfaces, shape brands and make things for the web.</p>
    <p>In other words I research what makes people tick, create, break and fix things, try to give design purpose, and wrangle with code. I love <a href="mailto:mail@michieldegraaf.com">email</a>.</p>
  </div>
  <canvas id="holyshtballs"></canvas>
</header>

<section role="main">

  <div class="container content">
    <h2>Work</h2>
    <p>Creating &amp; designing things at <a target="_blank" href="http://producthunt.com">Product Hunt</a>, other projects:</p>
    <ul>
      <li><a target="_blank" href="http://tijd.co">Tijd</a> <span>- In development</span></li>
      <li><a target="_blank" href="http://madeawkward.com">Awkward</a> <span>- Product designer</span></li>
      <li><a target="_blank" href="http://airbnb.com">Airbnb</a> <span>- Interface &amp; UX design</span></li>
      <li><a target="_blank" href="https://www.youtube.com/watch?v=-rBAkj5Egok">Killzone: Shadow Fall</a> <span>- Game interface design</span></li>
      <li><a target="_blank" href="http://yourkarma.com">Karma</a> <span>- Lead Designer</span></li>
      <li><a target="_blank" href="http://beamreddit">Beam for reddit</a> <span>- Always improving</span></li>
      <li><a target="_blank" href="https://birdback.com/">Birdback</a> <span>- Branding &amp; Identity</span></li>
      <li><a target="_blank" href="https://messagebus.com/">Message Bus</a> <span>- Interface &amp; UX design</span></li>
      <li><a target="_blank" href="http://michieldegraaf.com/tone">Tone</a> <span>- Branding, Interface &amp; UX design</span></li>
      <li><a target="_blank" href="http://michieldegraaf.com/madeinamsterdam">Made in Amsterdam</a> <span>- Branding &amp; Identity</span></li>
      <li><a target="_blank" href="http://michieldegraaf.com/soocial">Soocial</a> <span>- Design &amp; Front-end</span></li>
      <li><a target="_blank" href="http://madebysofa.com">Sofa</a>, <a target="_blank" href="http://kpn.nl">KPN</a>, <a target="_blank" href="http://deltalloyd.nl/">Delta Lloyd</a></li>
    </ul>
    <p>My portfolio is archived <a target="_blank" href="http://michieldegraaf.com/old">here &rarr;</a></p>
    <p><small>Thank you for nominating my portfolio at the Net Awards 2014.</small></p>
  </div>

  <hr />

  <div class="container content">
    <h2>Elsewhere</h2>
    <ul>
      <li><a target="_blank" href="http://twitter.com/graafdemichiel">Twitter</a></li>
      <li><a target="_blank" href="http://producthunt.com/graafdemichiel">Product Hunt</a></li>
      <li><a target="_blank" href="http://dribbble.com/michieldegraaf">Dribbble</a></li>
      <li><a target="_blank" href="http://michieldegraaf.com/blog">Blog</a></li>
      <li><a target="_blank" href="http://github.com/michieldegraaf">Github</a></li>
      <li><a target="_blank" href="http://instagram.com/michieldegraaf">Instagram</a></li>
      <li><a target="_blank" href="http://designspiration.net/michieldegraaf/saves/">Designspiration</a></li>
      <li><a target="_blank" href="http://soundcloud.com/michiel-de-graaf-1">Soundcloud</a></li>
    </ul>
  </div>

  <hr />

  <div class="container content">
    <h2>Domains <span>16</span></h2>
    <ul>
      <li><a target="_blank" href="http://svbliminal.com">Svbliminal</a></li>
      <li><a target="_blank" href="http://tangerinelove.com">Tangerine Love</a></li>
      <li><a target="_blank" href="http://fuckallthethings.com">Fuck all the things</a></li>
      <li><a target="_blank" href="http://dropshadow.co">Drop Shadow</a></li>
      <li><a target="_blank" href="http://laptopradiator.com">Laptop Radiator</a></li>
      <li><a target="_blank" href="http://scruffymoustache.com">Scruffy Moustache</a></li>
      <li><a target="_blank" href="http://frietbek.com">Frietbek</a></li>
      <li><a target="_blank" href="http://droeftoeter.industries">Droeftoeter Industries</a></li>
      <li><a target="_blank" href="http://fragmentgame.com">Fragment</a></li>
      <li><a target="_blank" href="http://frikandelspecial.com">Frikandel Special</a></li>
    </ul>
  </div>

  <hr />

</section>

<footer role="contentinfo" class="container">
  <p>&copy; 2015 Michiel de Graaf &mdash; <a target="_blank" href="https://github.com/michieldegraaf/michieldegraaf">Source</a>.</p>
</footer>

{% endblock content%}
