{% extends "base.html" %}
{% block content %}

<header role="banner" class="container">
  <h1>Michiel de Graaf is a designer.</h1>
  <p>I create interfaces, shape brands and craft things for the web.</p>
  <p>To be more specific; research what makes us humans tick, create, break and fix things, give design purpose and wrangle with code.</p>
</header>

<section role="main">

  <div class="container">
    <h2>Work</h2>
    <p>Currently product designer at <a target="_blank" href="http://madeawkward.com">Awkward</a>, previously:</p>
    <ul>
      <li><a target="_blank" href="http://airbnb.com">Airbnb</a> - Interface &amp; UX design</li>
      <li><a target="_blank" href="https://shadowfall.killzone.com/">Killzone: Shadow Fall</a> - Game interface design</li>
      <li><a target="_blank" href="https://birdback.com/">Birdback</a> - Branding &amp; Identity</li>
      <li><a target="_blank" href="http://michieldegraaf.com/tone">Tone</a> - Branding, Interface &amp; UX design</li>
      <li><a target="_blank" href="http://yourkarma.com">Karma</a> - Lead Product Design &amp; Front-end</li>
      <li><a target="_blank" href="http://michieldegraaf.com/madeinamsterdam">Made in Amsterdam</a> - Branding &amp; Identity</li>
      <li><a target="_blank" href="http://michieldegraaf.com/soocial">Soocial</a> - Design &amp; Front-end</li>
      <li><a target="_blank" href="http://madebysofa.com">Sofa</a>, <a target="_blank" href="http://kpn.nl">KPN</a>, <a target="_blank" href="http://deltalloyd.nl/">Delta Lloyd</a></li>
    </ul>
    <p>My old portfolio is archived <a target="_blank" href="http://http://michieldegraaf.com/old">here &rarr;</a></p>
    <p><small>Thank you to those who voted for me at the Net Awards 2014.</small></p>
  </div>

  <div class="container">
    <h2>On the web</h2>
    <ul>
      <li><a target="_blank" href="http://twitter.com/graafdemichiel">Twitter</a></li>
      <li><a target="_blank" href="http://dribbble.com/michieldegraaf">Dribbble</a></li>
      <li><a target="_blank" href="http://github.com/michieldegraaf">Github</a></li>
      <li><a target="_blank" href="http://instagram.com/michieldegraaf">Instagram</a></li>
      <li><a target="_blank" href="http://designspiration.net/michieldegraaf/saves/">Designspiration</a></li>
      <li><a target="_blank" href="http://soundcloud.com/michiel-de-graaf-1">Soundcloud</a></li>
    </ul>
  </div>

  <div class="container">
    <h2>Domains <span>16</span></h2>
    <ul>
      <li><a target="_blank" href="http://svbliminal.com">Svbliminal</a></li>
      <li><a target="_blank" href="http://tangerinelove.com">Tangerine Love</a></li>
      <li><a target="_blank" href="http://fuckallthethings.com">Fuck all the things</a></li>
      <li><a target="_blank" href="http://dropshadow.co">Drop Shadow</a></li>
      <li><a target="_blank" href="http://laptopradiator.com">Laptop Radiator</a></li>
      <li><a target="_blank" href="http://scruffymoustache.com">Scruffy Moustache</a></li>
    </ul>
  </div>

</section>

<footer role="contentinfo" class="container">
  <p>&copy; 2014 &dash; Michiel de Graaf</p>
  <p>Create and learn, don't steal.</p>
</footer>

{% endblock content%}
