---
title: Michiel de Graaf - About
---

%section.container{:role => "main"}

  %header.title{:role => "banner"}
    .logo
    %h1
      Michiel de Graaf
      %span
        &mdash; About

  %section.content
    .intro-text
      %p
        I'm Michiel de Graaf, a designer based in The Hague, The Netherlands. I create interfaces, shape brands and build digital products.
      %p
        Over the last ten odd years I've had the pleasure of working with some great companies, working side by side to design and develop new apps and improve upon existing products. I mainly focus on designing clear, understandable interfaces and creating a goal oriented user experience through iteration and prototyping. I know... it sounds very marketingy. At the end of the day, I just love collaborating with passionate startups and companies and make kick-ass apps.
      %p
        Some of the companies I've worked with;
    %ul.list-main
      %li
        %a{:href => "http://www.tidal.com", :target => "_blank"} Tidal
        .tooltip
          %img{:src => "/assets/images/case-tidal-thumb.png"}
      %li
        %a{:href => "http://www.airbnb.com", :target => "_blank"} Airbnb
        .tooltip
          %img{:src => "/assets/images/case-airbnb-thumb.png"}
      %li
        %a{:href => "http://www.producthunt.com", :target => "_blank"} Product Hunt
        .tooltip
          %img{:src => "/assets/images/case-producthunt-thumb.png"}
      %li
        %a{:href => "http://www.brewbot.io", :target => "_blank"} Brewbot
        .tooltip
          %img{:src => "/assets/images/case-brewbot-thumb.png"}
      %li
        %a{:href => "https://www.guerrilla-games.com", :target => "_blank"} Guerrilla Games
        .tooltip
          %img{:src => "/assets/images/case-killzone-thumb.png"}
      %li
        %a{:href => "http://www.dubsmash.com", :target => "_blank"} Dubsmash
        .tooltip
          %img{:src => "/assets/images/case-dubsmash-thumb.png"}
      %li
        %a{:href => "http://www.awkward.co", :target => "_blank"} Awkward
        .tooltip
          %img{:src => "/assets/images/case-awkward-thumb.png"}
      %li
        %a{:href => "http://www.yourkarma.com/", :target => "_blank"} Karma
        .tooltip
          %img{:src => "/assets/images/case-karma-thumb.png"}
      %li
        %a{:href => "http://www.frontapp.com/", :target => "_blank"} Front App
        .tooltip
          %img{:src => "/assets/images/case-frontapp-thumb.png"}
      %li
        %a{:href => "http://www.pr.co/", :target => "_blank"} prco
        .tooltip
          %img{:src => "/assets/images/case-prco-thumb.png"}
    %p
      Do you have a project you need help with or simply want to say hi?
      = succeed '.' do
        %a{:href => "mailto:mail@michieldegraaf.com"} Send me an email
    %p
      %a{:href => "/"} &larr; Go Home
    %p
      %a{:href => "/"} Resume
