---
title: Michiel de Graaf - Designer
---

%section.container{:role => "main"}

  %header.title{:role => "banner"}
    .logo
    %h1
      Michiel de Graaf
      %span
        &mdash; Designer
    %p I make interfaces, shape brands and build digital products.

  %section.content
    %p
      I've had the pleasure of working with companies like
      = succeed ',' do
        %a.company{:href => "http://www.airbnb.com", :target => "_blank"} Airbnb
      = succeed ',' do
        %a.company{:href => "http://www.producthunt.com", :target => "_blank"} Product Hunt
      = succeed ',' do
        %a.company{:href => "http://www.brewbot.io", :target => "_blank"} Brewbot
      = succeed ',' do
        %a.company{:href => "http://www.awkward.co", :target => "_blank"} Awkward
      %a.company{:href => "https://www.guerrilla-games.com", :target => "_blank"} Guerrilla Games
      and
      %a.company{:href => "http://www.yourkarma.com/", :target => "_blank"} Karma
      amongst others.
    %p
      %a{:href => "mailto:mail@michieldegraaf.com"}
        Let's work together &hearts;
    %ul
      %li
        %a{:href => "mailto:mail@michieldegraaf.com"} Email
      %li
        %a{:href => "http://www.twitter.com/michieldegraaf", :target => "_blank"} Twitter
      %li
        %a{:href => "http://www.michieldegraaf.com/michieldegraaf-resume.pdf"} Resume
