---
title: Michiel de Graaf - Designer
---

%header.navbar{:role => "banner"}
  %section.container
    .logo M
    %h1
      Michiel de Graaf
      %span Designer

  %section.intro.container{:role => "main"}
    %p I create interfaces, shape brands and build digital products.
    %p
      %a.link-one{:href => "#work"}
        View some of my work
        %span &rarr;
        %i Soon
    %p  I've had the pleasure of working with companies like Airbnb, Product Hunt, Guerilla Games and Karma amongst others. I'm available for freelance projects.
    %p
      %a.link-two{:href => "mailto:mail@michieldegraaf.com"}
        Let's work together
        %span &#9825;

%footer
  %ul.container
    %li
      %a{:href => "http://www.twitter.com/michieldegraaf", :target => "_blank"} Twitter
    %li
      %a{:href => "mailto:mail@michieldegraaf.com"} Email
    %li
      %a{:href => "http://www.michieldegraaf.com/michieldegraaf-resume.pdf", :target => "_blank"} Resume
    %li
      %a{:href => "https://dribbble.com/michieldegraaf", :target => "_blank"} Dribbble
