---
title: Michiel de Graaf - Designer
---

%section.container{:role => "main"}

  %header.title{:role => "banner"}
    .logo
    %h1
      Michiel de Graaf
      %span
        &mdash; Designer

  %section.content
    %p I make interfaces, shape brands and build digital products. Basically; I create, break and fix things, wrangle with code and design stuff.
    %p
      %a.link{:href => "mailto:mail@michieldegraaf.com"}
        Let's work together
        %span
          &hearts;
    %ul.links
      %li
        %a{:href => "/about"} About
      %li
        %a{:href => "mailto:mail@michieldegraaf.com"} Email
      %li
        %a{:href => "http://www.twitter.com/michieldegraaf", :target => "_blank"} Twitter
