---
title: Michiel de Graaf - Designer
---

%section.container{:role => "main"}

  .logo
    %span

  %header.title{:role => "banner"}
    %h1
      Michiel de Graaf
      %span
        &mdash; Designer
    %p I make interfaces, shape brands and build digital products. Basically; I create, break and fix things, wrangle with code and design stuff.
    %p
      %a.link{:href => "mailto:mail@michieldegraaf.com"}
        Let's work together &hearts;
    %p Some of the things I've worked on:

  %section.cases
    .case
      %figure
        %img{:src => "/assets/images/case-tidal.png"}
      %a{:href => "http://www.tidal.com/download", :target => "_blank"}
        %strong Tidal
        %i UX &amp; UI Design

    .case
      %figure
        %img{:src => "/assets/images/case-producthunt.png"}
      %a{:href => "https://www.producthunt.com/apps", :target => "_blank"}
        %strong Product Hunt
        %i Web &amp; UI Design

    .case
      %figure
        %img{:src => "/assets/images/case-airbnb.png"}
      %a{:href => "https://www.airbnb.com", :target => "_blank"}
        %strong Airbnb
        %i UX &amp; UI Design

    .case
      %figure
        %img{:src => "/assets/images/case-brewbot.png"}
      %a{:href => "http://www.brewbot.io", :target => "_blank"}
        %strong Brewbot
        %i Product Design

    .case
      %figure
        %img{:src => "/assets/images/case-awkward.png"}
      %a{:href => "http://www.awkward.co", :target => "_blank"}
        %strong Awkward
        %i Product Design

    .case
      %figure
        %img{:src => "/assets/images/case-killzone.png"}
      %a{:href => "http://www.guerrilla-games.com/play/killzone", :target => "_blank"}
        %strong Guerrilla Games
        %i Killzone Shadow Fall &trade; UI Design

    .case
      %figure
        %img{:src => "/assets/images/case-sideband.png"}
      %a{:href => "http://sidebandapp.com", :target => "_blank"}
        %strong Sideband
        %i UX &amp; UI Design

  .about
    %p
      Over the last ten odd years I've had the pleasure of collaborating with some great companies. Working side by side on creating and launching new products.
    %p
      I design simple yet effective interfaces and create goal oriented user experiences through iteration and prototyping. I know... it's a lot of jargon. To put it simply, I love working with passionate startups and companies on challenging projects.
    %p
      If you have a project you need help with or simply want to say hi:
    %ul.links
      %li
        %a{:href => "mailto:mail@michieldegraaf.com"} Email
      %li
        %a{:href => "http://www.twitter.com/michieldegraaf", :target => "_blank"} Twitter
      %li
        %a{:href => "http://www.producthunt.com/@graafdemichiel", :target => "_blank"} Product Hunt

  %footer{:role => "contentinfo"}
    %p
      &copy; Michiel de Graaf &mdash; 2018
